@media only screen and (max-width: 992px) {
    #pageRow{
        max-height: 400px;
    }
}

#logo-img {
    width: 150px; 
    height: 135px;
}

.link-color {
    color: rgb(114, 156, 219);
}

.btn:hover {
    background-color: rgb(114, 156, 219);
    color: black;
}


.card-link {
    text-decoration: none;
    color: black;
}

.card-hover:hover {
    width: 210px;
    height: 145px;
    padding-top: 8px;
    border: 2px solid rgb(129, 173, 238);
}

.card-hover {
    height: 135px;
    width: 200px;
    transition: width .4s, height .4s, padding-top .4s;
}

.btn {
    background-color: rgb(114, 156, 219);
    color: white
}

#login-out-btn {
    max-width: 200px;
}
