#logo-img {
    width: 150px; 
    height: 135px;
}

.link-color {
    color: rgb(114, 156, 219);
}

#login-btn {
    background-color: rgb(114, 156, 219);

}

#login-btn a {
    color: black;
}


#search-submit-btn {
    border: 2px solid rgb(114, 156, 219);
}

#search-submit-btn:hover {
    background-color: rgb(114, 156, 219);
    color: black;
}


.card-link {
    text-decoration: none;
    color: black;
}

.card-hover:hover {
    width: 210px;
    height: 145px;
    padding-top: 8px;
    border: 2px solid rgb(129, 173, 238);
}

.card-hover {
    height: 135px;
    width: 200px;
    transition: width .4s, height .4s, padding-top .4s;
}

.btn {
    background-color: rgb(114, 156, 219);
    color: white
}


